
{% extends "ercf/layout.html" %}
{% load static %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
body {
    background-image: linear-gradient(to bottom right, #333, #111);
    background-repeat: no-repeat;
    height: 100%;
    color: white;
     margin: 0;
     background-attachment: fixed;
}

.main-video iframe, .main-video button{
    margin: 0 auto;
    display: block;
    border-style:none;
} 

.video-selections img, .video-selections button{
    width: 26.666vw;
    height: 15vw;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin-bottom: 20px;
    margin-top:20px
}

.video-selections {
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.video-selections div {
    margin-bottom: 20px;
    margin-top:20px;
}

.header {
    margin-bottom: 30px;
    text-align:center;
}

.button {
    border:1px solid;
    margin: 0 auto;
    display: block;
    margin-top:20px;
}

.topic a{
    margin-left: auto;
    margin-right: auto;
}
  

</style>


<div class="header" style="margin-top:-100px;">
    <a href="{% url 'ercf:create_video' %}" type="button" class="btn btn-primary">Create a Post</a>
</div>
                <div class="main-video">
                    <iframe id="main-video" width="500" height="270" src="https://www.youtube.com/embed/{{ first_video_id }}" frameborder="0" allowfullscreen></iframe>
                </div>
                <br/>
                <button class="button">Download</button>
                <div class="topics" style="margin-top: 25px; font-size: 50%;">
                    <center>
                        <b>Genres</b>
                        <hr style="width: 80px; margin-top: 7px; margin-bottom: 7px;">
                        <a href="{% url "ercf:beats" %}">All</a>
                        {% for topic in topics %}
                            <div class="topic">
                                <a href="{% url "ercf:beats" %}?q={{topic.name}}">{{topic.name}}</a>
                            </div>
                        {% endfor %}
                    </center>
                </div>
        
                <div class="video-selections">
                    {% for video in videos %}
                        <div>
                            <img src="https://i.ytimg.com/vi/{{ video.video_id }}/hqdefault.jpg" onclick="displayVideo('{{ video.video_id }}')">
                            <br/>
                            <p style="width:80%; font-size: 60%; margin-left: auto; margin-right: auto; margin-top:-15px;">{{ video.title }}</p>
                        </div> 
                    {% endfor %}
        
                </div>


<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


<script>
var selectedVideo = document.getElementById('main-video').src;

document.getElementById('main-video').src = videos[0].url;

function displayVideo(id) {
    var ytString = "https://www.youtube.com/embed/" + id;
    document.getElementById('main-video').src = ytString;
    selectedVideo = ytString;
}

function displayOnPhone(id) {
    var ytString = "https://i.ytimg.com/vi/" + id + "/hqdefault.jpg"
    document.getElementById('currentSong').src = ytString;
    selectedVideo = ytString;
}

$(".button").click(function() {
    var format = "mp3";
    var src = "" + selectedVideo+ "=" + format + "";
    download(selectedVideo, format);
});

function download (link, format){
    $(".button").html('<iframe src="https://loader.to/api/button/?url=' + link + '&f=' + format + '")></iframe>');
}

function test() {
    console.log("HI");
}

$(document).ready(function (e) {

    function showView(viewName) {
        $('.view').hide();
$('#' + viewName).show();
}

    $('[data-launch-view]').click(function (e) {
        e.preventDefault();
        var viewName = $(this).attr('data-launch-view');
        showView(viewName);
    });

});

</script>


{% endblock %}
