
{% extends "ercf/layout.html" %}
{% load static %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
body {
    height: 100%;
     margin: 0;
     background-attachment: fixed;
}

.main-video iframe, .main-video button{
    margin: 0 auto;
    display: block;
    border-style:none;
} 

.video-selections img, .video-selections button{
    width: 26.666vw;
    height: 15vw;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin-bottom: 20px;
    margin-top:20px
}

.video-selections {
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.video-selections div {
    margin-bottom: 20px;
    margin-top:20px;
}

.header {
    margin-bottom: 30px;
    text-align:center;
}

.button {
    border:1px solid;
    margin: 0 auto;
    display: block;
    margin-top:20px;
}

.topic a{
    margin-left: auto;
    margin-right: auto;
}
  

@keyframes charging {
    from {
      width: 0px;
    }
    to {
      width: 98px;
    }
  }
  /*

  .charger {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 600px;
    background: #e6e7e9;
    border-radius: 50%;
    margin-top: 100px;
    position: absolute;
    border: 8px solid #bfc0c4;
  }
  .charger::before {
    content: "";
    position: absolute;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 1px solid #cccacd;
    margin-top: 80px;
  }
  .charger::after {
    content: "";
    position: absolute;
    height: 590px;
    width: 590px;
    border-radius: 50%;
    border: 1px solid #a9aaae;
    margin-top: 1px;
  }
  .charger .wire {
    width: 15px;
    height: 45px;
    background: #e6e7e9;
    margin: 280px 0 0 6px;
    box-shadow: inset 0px 5px 5px #a7a6ab, inset 0px -5px 5px #a7a6ab;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top: 0.5px solid #000;
    border-bottom: 0.5px solid #000;
    position: absolute;
    left: 585px;
  }
  .charger .wire::after {
    content: "";
    position: absolute;
    width: 750px;
    height: 15px;
    background: #e6e7e9;
    margin: 14px 0 0 15px;
    box-shadow: inset 0px 5px 5px #a7a6ab, inset 0px -5px 5px #a7a6ab;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top: 0.5px solid #000;
    border-bottom: 0.5px solid #000;
  }
  .iphone-8 {
    z-index: 1;
    position: relative;
    height: 600px;
    width: 336px;
    margin-top: -50px;
  }
  .iphone-8 *, .iphone-8 *::before, .iphone-8 *::after {
    box-sizing: border-box;
    display: block;
  }
  .iphone-8 .bazzel {
    height: 600px;
    width: 336px;
    background: #fff;
    border-radius: 54px;
    box-shadow: inset 0 0 0 2px #c8cacb, inset 0 0 0 6px #e2e3e4;
    padding: 82px 18px;
  }
  .iphone-8 .screen {
    display: flex;
    justify-content: center;
    height: 440px;
    width: 300px;
    background-color: #333230;
    background-position: center center;
    background-size: cover;
    border: 2px solid #222;
    border-radius: 4px;
    position: relative;
  }
  .iphone-8 .screen .battery {
    width: 100px;
    height: 50px;
    margin-top: 80%;
    border: 1px solid white;
  }
  .iphone-8 .screen .battery::before {
    height: 48px;
    width: 70px;
    content: "";
    position: absolute;
    background: #4cda64;
    animation-duration: 9.2s;
    animation-name: charging;
    animation-iteration-count: infinite;
  }
  .iphone-8 .screen .battery::after {
    content: "";
    position: absolute;
    height: 15px;
    width: 5px;
    background: white;
    margin-left: 100px;
    margin-top: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .iphone-8 .line::after, .iphone-8 .line::before {
    content: "";
    position: absolute;
    border: solid rgba(51, 51, 51, 0.15);
    border-width: 0 6px;
    height: 5px;
    left: 0;
    width: 100%;
    z-index: 9;
  }
  .iphone-8 .line::after {
    top: 55px;
  }
  .iphone-8 .line::before {
    bottom: 55px;
  }
  .iphone-8 .header {
    height: 36px;
    width: 128px;
    left: 50%;
    margin-left: -64px;
    position: absolute;
    top: 26px;
    z-index: 199;
  }
  .iphone-8 .header::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 60px;
    background: #666;
    border-radius: 2.5px;
    left: 50%;
    margin-left: -30px;
    margin-top: -2.5px;
    top: 50%;
  }
  .iphone-8 .sensors::after, .iphone-8 .sensors::before {
    content: "";
    position: absolute;
    background: #666;
    border-radius: 50%;
  }
  .iphone-8 .sensors::after {
    height: 8px;
    width: 8px;
    left: 50%;
    top: 0;
    margin: -4px 0 0 -4px;
  }
  .iphone-8 .sensors::before {
    height: 10px;
    width: 10px;
    left: 0;
    top: 50%;
    margin: -5px 0 0 0;
  }
  .iphone-8 .volume {
    left: -2px;
    top: 82px;
    position: absolute;
    background: #c8cacb;
    height: 24px;
    width: 3px;
  }
  .iphone-8 .volume::after, .iphone-8 .volume::before {
    left: 0;
    content: "";
    position: absolute;
    background: #c8cacb;
    height: 45px;
    width: 3px;
  }
  .iphone-8 .volume::after {
    top: 50px;
  }
  .iphone-8 .volume::before {
    top: 106px;
  }
  .iphone-8 .power {
    right: -2px;
    top: 160px;
    position: absolute;
    background: #c8cacb;
    height: 80px;
    width: 3px;
  }
  .iphone-8 .home {
    height: 46px;
    width: 46px;
    border-radius: 50%;
    margin-left: -23px;
    left: 50%;
    bottom: 20px;
    position: absolute;
    border: 2px solid #c8cacb;
  }
  .audio-player {
    --player-button-width: 3em;
    --sound-button-width: 2em;
    --space: 0.5em;
    margin-top: 4rem;
    width: 15rem;
    height: 15rem;
  }
  .icon-container {
    width: 100%;
    height: 100%;
    background-color: #DE5E97;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .audio-icon {
    width: 90%;
    height: 90%;
  }
  .controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }
  .player-button {
    background-color: transparent;
    border: 0;
    width: var(--player-button-width);
    height: var(--player-button-width);
    cursor: pointer;
    padding: 0;
    filter: invert(100%);
  }
  .timeline {
    -webkit-appearance: none;
    width: calc(100% - (var(--player-button-width) + var(--sound-button-width) + var(--space)));
    height: 0.5em;
    background-color: #e5e5e5;
    border-radius: 5px;
    background-size: 0% 100%;
    background-image: linear-gradient(#DE5E97, #DE5E97);
    background-repeat: no-repeat;
    margin-right: var(--space);
  }
  .timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all 0.1s;
    background-color: #a94672;
  }
  .timeline::-moz-range-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all 0.1s;
    background-color: #a94672;
  }
  .timeline::-ms-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all 0.1s;
    background-color: #a94672;
  }
  .timeline::-webkit-slider-thumb:hover {
    background-color: #943f65;
  }
  .timeline:hover::-webkit-slider-thumb {
    opacity: 1;
  }
  .timeline::-moz-range-thumb:hover {
    background-color: #943f65;
  }
  .timeline:hover::-moz-range-thumb {
    opacity: 1;
  }
  .timeline::-ms-thumb:hover {
    background-color: #943f65;
  }
  .timeline:hover::-ms-thumb {
    opacity: 1;
  }
  .timeline::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  .timeline::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  .timeline::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  .sound-button {
    background-color: transparent;
    border: 0;
    width: var(--sound-button-width);
    height: var(--sound-button-width);
    cursor: pointer;
    padding: 0;
    filter: invert(100%);
  }


  .p {
    background-image: linear-gradient(to bottom right, #333, #111);
    background-repeat: no-repeat;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    transition-duration: 0.4s;
    cursor: pointer;
    color: white;
    border: 2px solid #e7e7e7;
  }
  
  .p:hover {background-color: #e7e7e7;}
*/
</style>

<!--
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style=" display: flex; justify-content: center;">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Video View</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">List View</a>
    </li>
</ul>
<div style="display: flex;
justify-content: center; margin-top: -200px;">
<div class="charger">
    <div class="iphone-8">
      <div class="bazzel">
        <div class="screen">
            <div class="audio-player">
                <div class="icon-container">
                    <img xmlns="http://www.w3.org/2000/svg" id="currentSong" class="audio-icon" viewBox="0 0 20 20" fill="currentColor">
                <path d="M18 3a1 1 0 00-1.196-.98l-10 2A1 1 0 006 5v9.114A4.369 4.369 0 005 14c-1.657 0-3 .895-3 2s1.343 2 3 2 3-.895 3-2V7.82l8-1.6v5.894A4.37 4.37 0 0015 12c-1.657 0-3 .895-3 2s1.343 2 3 2 3-.895 3-2V3z" />
              </svg>
                </div>
                <audio id="mp3" src="https://www.zapsplat.com/wp-content/uploads/2015/sound-effects-61905/zapsplat_multimedia_alert_chime_short_musical_notification_cute_child_like_001_64918.mp3?_=1" autoplay></audio>
                <div class="controls">
                  <button class="player-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#3D3132">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" />
              </svg>
                  </button>
                  <input type="range" class="timeline" max="100" value="0">
                  <button class="sound-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#3D3132">
                <path fill-rule="evenodd" d="M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z" clip-rule="evenodd" />
              </svg>
                  </button>
                </div>
              </div>
        </div>
      </div>
      <div class="line"></div>
      <div class="header">
        <div class="sensors"></div>
      </div>
      <div class="volume"></div>
      <div class="power"></div>
      <div class="home"></div>
    </div>
    <div class="wire">
    </div>
  </div>
</div>

<div style="margin-top:100px; margin-left: 50px; overflow-y:auto;
float:left;
position:relative;height:35vw;
width:35vw;">
    {% for video in videos %} 
    
        <button class="p" onclick="displayOnPhone('{{ video.video_id }}', '{{ video.audio_url }}')">{{ video.title }}</button><br>
        <button class="p" onclick="displayOnPhone('{{ video.video_id }}', '{{ video.audio_url }}')">{{ video.title }}</button><br>
        <button class="p" onclick="displayOnPhone('{{ video.video_id }}', '{{ video.audio_url }}')">{{ video.title }}</button><br>
        <button class="p" onclick="displayOnPhone('{{ video.video_id }}', '{{ video.audio_url }}')">{{ video.title }}</button><br>
        <button class="p" onclick="displayOnPhone('{{ video.video_id }}', '{{ video.audio_url }}')">{{ video.title }}</button><br>
        <button class="p" onclick="displayOnPhone('{{ video.video_id }}', '{{ video.audio_url }}')">{{ video.title }}</button><br>
        <button class="p" onclick="displayOnPhone('{{ video.video_id }}', '{{ video.audio_url }}')">{{ video.title }}</button><br>
        <button class="p" onclick="displayOnPhone('{{ video.video_id }}', '{{ video.audio_url }}')">{{ video.title }}</button><br>
        <button class="p" onclick="displayOnPhone('{{ video.video_id }}', '{{ video.audio_url }}')">{{ video.title }}</button><br>
        <button class="p" onclick="displayOnPhone('{{ video.video_id }}', '{{ video.audio_url }}')">{{ video.title }}</button><br>
        <button class="p" onclick="displayOnPhone('{{ video.video_id }}', '{{ video.audio_url }}')">{{ video.title }}</button><br>
    {% endfor %}
</div>

-->
                <div class="main-video" style="margin-top:-50px;">
                    <iframe id="main-video" width="500" height="270" src="https://www.youtube.com/embed/{{ first_video_id }}" frameborder="0" allowfullscreen></iframe>
                </div>
                <br/>
                <button class="button">Download</button>
                <div class="topics" style="margin-top: 25px; font-size: 50%;">
                    <center>
                        <b>Genres</b>
                        <hr style="width: 80px; margin-top: 7px; margin-bottom: 7px;">
                        <a href="{% url "ercf:beats" %}">All</a>
                        {% for topic in topics %}
                            <div class="topic">
                                <a href="{% url "ercf:beats" %}?q={{topic.name}}">{{topic.name}}</a>
                            </div>
                        {% endfor %}
                    </center>
                </div>
        
                <div class="video-selections">
                    {% for video in videos %}
                        <div>
                            <img src="https://i.ytimg.com/vi/{{ video.video_id }}/hqdefault.jpg" onclick="displayVideo('{{ video.video_id }}')">
                            <br/>
                            <p style="width:80%; font-size: 60%; margin-left: auto; margin-right: auto; margin-top:-15px;">{{ video.title }}</p>
                        </div> 
                    {% endfor %}
        
                </div>

            
<script>
/*
function displayOnPhone(id, audio) {
    var ytString = "https://i.ytimg.com/vi/" + id + "/hqdefault.jpg"
    document.getElementById('currentSong').src = ytString;
    document.getElementById('mp3').src = audio;
    selectedVideo = ytString;
    playerButton.innerHTML = pauseIcon;
}*/


function scroll() {
  const element = document.getElementById("top");
  element.scrollIntoView({behavior: "smooth"});
}

function displayVideo(id) {
  var ytString = "https://www.youtube.com/embed/" + id;
  document.getElementById('main-video').src = ytString;
  selectedVideo = ytString;
  $(".button").html('Download');
  scroll();
}

$(".button").click(function() {
    var format = "mp3";
    var src = "" + selectedVideo+ "=" + format + "";
    download(selectedVideo, format);
});

function download (link, format){
    $(".button").html('<iframe src="https://loader.to/api/button/?url=' + link + '&f=' + format + '")></iframe>');
}


$(document).ready(function (e) {

    function showView(viewName) {
        $('.view').hide();
$('#' + viewName).show();
}

    $('[data-launch-view]').click(function (e) {
        e.preventDefault();
        var viewName = $(this).attr('data-launch-view');
        showView(viewName);
    });

});




// Lel 

/*

const playerButton = document.querySelector('.player-button'),
audio = document.querySelector('audio'),
timeline = document.querySelector('.timeline'),
soundButton = document.querySelector('.sound-button'),
playIcon = `
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#3D3132">
<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" />
</svg>
`,
pauseIcon = `
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#3D3132">
<path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM7 8a1 1 0 012 0v4a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v4a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
</svg>
`,
soundIcon = `
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#3D3132">
<path fill-rule="evenodd" d="M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z" clip-rule="evenodd" />
</svg>`,
muteIcon = `
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#3D3132">
<path fill-rule="evenodd" d="M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM12.293 7.293a1 1 0 011.414 0L15 8.586l1.293-1.293a1 1 0 111.414 1.414L16.414 10l1.293 1.293a1 1 0 01-1.414 1.414L15 11.414l-1.293 1.293a1 1 0 01-1.414-1.414L13.586 10l-1.293-1.293a1 1 0 010-1.414z" clip-rule="evenodd" />
</svg>`;

function toggleAudio () {
if (audio.paused) {
    audio.play();
    playerButton.innerHTML = pauseIcon;
} else {
    audio.pause();
    playerButton.innerHTML = playIcon;
}
}

playerButton.addEventListener('click', toggleAudio);

function changeTimelinePosition () {
const percentagePosition = (100*audio.currentTime) / audio.duration;
timeline.style.backgroundSize = `${percentagePosition}% 100%`;
timeline.value = percentagePosition;
}

audio.ontimeupdate = changeTimelinePosition;

function audioEnded () {
playerButton.innerHTML = playIcon;
}

audio.onended = audioEnded;

function changeSeek () {
const time = (timeline.value * audio.duration) / 100;
audio.currentTime = time;
}

timeline.addEventListener('change', changeSeek);

function toggleSound () {
audio.muted = !audio.muted;
soundButton.innerHTML = audio.muted ? muteIcon : soundIcon;
}

soundButton.addEventListener('click', toggleSound);
*/
</script>


{% endblock %}
