{% extends "ercf/layout.html" %}
{% load static %}
{% block body %}
<style>
    form {
        text-align:center;
    }
    .goback {
        text-align:center;
        margin-bottom: 30px;
        margin-top: -80px;
    }

    .body {
        background: rgb(235, 240, 250);
        width: 700px;
        height: 500px;
        margin: auto auto;
        border-radius: 25px;
    }

    
</style>

<div class="goback">
    {% if beat %}
        <a href="{% url "ercf:beats" %}" type="button" class="btn btn-primary">Go Back to Beats</a>
    {% elif not edit %}
        <a href="{% url "ercf:posts" %}" type="button" class="btn btn-primary">Go Back to Posts</a>
    {% elif sample  %}
        <a href="{% url "ercf:samples" %}" type="button" class="btn btn-primary">Go Back to Samples</a>
    {% else %}
        <a href="{% url "ercf:post" post.id %}" type="button" class="btn btn-primary">Go Back</a>
    {% endif %}
</div>

<div class="body">
    <br/>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Post"/>
    </form>

</div>

{% endblock %}