{% extends "ercf/layout.html" %}
{% load static %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">

<style>
    .main-pic {
        width:550px; 
        height: 550px;
        display: block; 
        margin: auto auto; 
        margin-top:-80px;
    }
    @media screen and (max-width: 550px) {
        .main-pic {
            width: 100vw;
            height: 100vw;
        }

    }
</style>
    <img class="main-pic"  class="index-pic" src="{% static 'images/cd.jpeg' %}">
<br/><br/>
{% endblock %}