{% extends "ercf/layout.html" %}
{% load static %}s
{% block body %}

{% if page == "login" %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <label>Username</label>
        <input type="text" name="username" placeholder="Username" />
        <label>Password:</label>
        <input type="password" name="password" placeholder="Password" />
        <input type="submit" value="Log In"/>
    </form>
    <a href={% url "ercf:register" %}>Sign Up</a>
</div>

{% elif page == "register" %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Register"/>
    </form>
</div>
{% endif %}

{% endblock %}