{% extends "ercf/layout.html" %}
{% load static %}
{% block body %}
<style>
    .description p {
        margin-right: 50px;
        margin-left: 50px;
        text-align: center;
    }

    hr {
        margin: auto auto;
        padding: 10px;
        width: 800px;
    }

    .content p {
        padding: 20px;
        text-align:left;
    }

    .content {
        background: rgb(235, 240, 250);
        width: 700px;
        height: 400px;
        margin: auto auto;
        border-radius: 25px;
    }

    .comment {
        display:grid;
        grid-template-columns: 1.5fr 3fr 1fr;
    }

    .comment-container {
        display:flex;
    }

    .comment-content {
        width: 100px;
    }

</style>
<div style="margin-top:-80px;">
    <h2 style="text-align: center;">{{post.title}}</h2>
    <hr style="margin: auto auto; width: 800px;">

    <div class="description">
        <p>Posted by @<a href="{% url 'ercf:view_user' post.author_identity %}"><b>{{post.author}}</b></a> on <b>{{post.date_posted}}</b></p>
        {% if request.user == post.author %}
            <p style="margin-bottom: 10px; margin-top:-10px;">
                <a href="{% url "ercf:update" post.id %}">Edit</a>
                <a id="delete" href="{% url "ercf:delete" post.id %}">Delete</a>
            </p>
    {% endif %}
    </div>

    <div class="content">
        <p>{{post.content}}</p>
    </div>
<br/>
    <div class="comment">
        <div></div>
        <div>
            {% if request.user.is_authenticated %}
                <div>
                    <form class="comment-container" method="POST" action="">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input style="width:8rem; height: 3.5rem;" type="submit" value="Comment"/>
                    </form>
                </div>

            {% endif %}

            {% for review in reviews %}
                {% if review.post_date == post.date_posted %}
                <p style="width:80px;">
                    <hr style="width: 85%; margin-right: 250px;">
                    <b>@{{ review.commenter }}</b>: {{ review.content }}
                    {% if request.user == review.author or request.user == review.commenter%}
                        <a id="delete" href="{% url "ercf:delete_comment" review.id %}">Delete</a>
                    {% endif%}
                </p>
                {% endif %}
            {% endfor %}
        </div>
        <div></div>
    </div>
</div>
<script>
</script>
{% endblock %}